body {
    margin: 0;
    font-family: monospace;
    color: #e0e1dd;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

header {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0d1b2a;
}

h1 {
    font-style: oblique;
    font-size: 45px;
    text-align: center;
}

main {
    width: 100%;
    height: 80%;
    background-color: #1b263b;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

a {
    text-decoration: none;
    color: #e0e1dd;
}

article {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    border: solid #e0e1dd;
    border-width: 0px 2.5px;
    border-collapse: collapse;
}

a {
    width: 33%;
    height: 100%;
}

h2 {
    font-size: 35px;
    width: 100%;
}

i {
    font-size: 80px;
}

footer {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0d1b2a;
}